@model IEnumerable<SistemaLogistica.Domain.DTO.ProductDTO>
<h1>Detalhes</h1>

<h4>Produto</h4>
@foreach (var item in Model)
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fornecedor.person.name) Fornecedor
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.fornecedor.person.name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.quantityStock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.quantityStock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.quantityMinimun)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.quantityMinimun)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.category.name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.category.name)
            </dd>
            <dd class="col-sm-4">
                <div class="row">
                <figure class="col-4">
                    <img src="~/Uploads/@item.image" style=" width: 300px;" />
                </figure>
            </div>
            </dd>
            <dt class="col-sm-10">
                <a class="btn btn-info" asp-action="ImagePost" asp-route-id="@item.id">&uarr; IMG</a>
            </dt>
        </dl>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Edit</a>
        <a class="btn btn-danger" href="#" onclick="deleteRegistro(@item.id, '@item.name', 'Product')">Delete</a>
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
